<!DOCTYPE html>
<html>
<head>
  <title>STOCK EXCHANGE SYSTEM</title>
<style>
body{
    margin: 0;
    padding: 0;
    
}
nav{
    width: 100%;
    background-color: skyblue;
    overflow: auto;
}
ul{
    padding: 0;
    margin:0 0 0 150px;
    list-style:none;


}
li{
    float:left;
}
nav a{
    width: 100;
     display: block;
     padding: 20px 15px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     color: #f2f2f2;
     text-align: center;
}
nav b{
    width: 100;
     display: block;
     padding: 20px 15px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     color: #f2f2f2;
     text-align: right;
}
nav a:hover{
    background-color: purple;
    transition: 0.5s;
    text-transform: uppercase;
}
nav b:hover{
    background-color: purple;
    transition: 0.5s;
    text-transform: uppercase;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>
</head>
<body>

<div class="Stock Exchange Management System"></div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul>
             <li><a href="/news">News</a></li>
             <li><a href="/blog">Blog</a></li>
             <li><a href="/about">About Us</a></li>   
             <li><a href="/input">Buy</a></li>&emsp;&emsp;&emsp;&emsp;&emsp;
             &emsp;&emsp;&emsp;
            <img src ="/static/logo.jpg" width="100" height="60"> 
               
</ul>
</nav>
<h1 style="padding-top: 10px;background-color: aquamarine; text-align: center;">WELCOME TO</h1>
<marquee behavior="scroll" height="30" bgcolor="skyblue" direction="left">STOCK EXCHANGE MANAGEMENT SYSTEM</marquee>
<marquee behavior="scroll"  height="30" bgcolor="yellow" direction="up">&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;MONEY MAKING FACTORY</marquee>
<h3>&emsp;WHAT IS STOCK EXCHANGE ??<br>&emsp;--------------------------------------------</h3>
<p style="text-align:left;">&emsp;
    Imagine this: A man's company is knee-deep in debt from banks and creditors. But when he opens up his company to the common man, other people invest in the company and become part owners in the process. These owners together invest money, and work towards making the company debt-free and profitable.
How do so many people own a single company? If one man started the company, what role do these people have? Why would someone prefer taking money from people and making them part owners instead of just borrowing from banks? And how good is this option for the common man as an investment? What are the things he should take care of before investing in a company? These are some of the questions, the answers to which will help you understand share trading in India. 
Share trading in India - Joint Stock Company<br>
Once the venture capital funding is exhausted and the company has attained a certain size, its next objective could be to become India's biggest company. This is when the company goes out to the public to raise money. People can buy part ownership of the company for as little as 10 rupees. Therefore, if the company has Rs 5 crore invested in it and you have invested 10 rupees in it, you own the proportionate share in the company - (2e-7) %.
Whenever the company earns a profit, every owner is entitled to dividend.<br>
Share trading in India - Equity shares
The certificates issued to the public who invest in a company are called equity shares. These are issued when the company gets publicly listed and people start stock market trading in its equity shares. The public listing of a company means its shares get available in a marketplace for equity shares. The NSE and BSE are the two biggest marketplaces for equity shares.<br>
Share trading in India - Primary and Secondary Market
The stock market is divided into two kinds of market. The primary market is where the shares of any company getting newly listed are bought directly from the company through the stock market.
The other, much bigger and sometimes more profitable, market is the secondary market where the shares bought off the primary market may be traded further. For example: All shares of a company have been sold and you want to trade in those shares. <br>You can bid for the shares from the new owners by quoting a higher amount: Rs. 20 for the Rs.10 share. Any new owner of the shares may take up the offer and exit the investment.  
</p>
<p style="background-color:lime ;">DO YOU WANT TO LEARN MORE ABOUT STOCK TRADING<br>you can go through this course</p>
<form action="https://www.nseindia.com/learn/online-courses-certifications-recorded-stock-market-for-beginners">
    <input type="submit" value="LEARN THE COURSE" /><br><br>
</form>
<h2>Tip :</h2>
<p>
    <b>1. Research the stocks you want to buy</b><br>
    Once you’ve set up and funded your brokerage account, it’s time to dive into the business of picking stocks. A good place to start is by researching companies you already know from your experiences as a consumer.
    
    Don’t let the deluge of data and real-time market gyrations overwhelm you as you conduct your research. Keep the objective simple: You’re looking for companies of which you want to become a part owner.<br><br>
    
    Warren Buffett famously said, “Buy into a company because you want to own it, not because you want the stock to go up.” He’s done pretty well for himself by following that rule.
    
    Once you’ve identified these companies, it’s time to do a little research. Start with the company’s annual report — specifically management’s annual letter to shareholders.<br><br> The letter will give you a general narrative of what’s happening with the business and provide context for the numbers in the report.
    
    After that, most of the information and analytical tools that you need to evaluate the business will be available on your broker’s website, such as SEC filings, conference call transcripts, quarterly earnings updates and recent news. Most online brokers also provide tutorials on how to use their tools and even basic seminars on how to pick stocks.</p>

</body>
<footer>
    <p>Students of KL University<br>&copy; Copyright 2022 <br>for help contact :
    <a href="mailto:help_student@klu.com">help_student@KLU.com</a></p>
  </footer>
</html>

 
