<html>
<head>
    <title>LIVE</title>
</head>
<body><form action = "/live" method="post">
    <tr>
        <td>ENTER THE STOCK SYMBOL :</td>
        <td><input type="text" size=25 name="st_input"></td>
        </tr>
        <tr>
            <td><input type="submit"  value="submit"></td>
            </tr></form>
        <h2 style="background-color:darkgray ;">THE STOCK NAMES AND SYMBOLS ARE GIVEN BELOW :</h2>
        <h4 style="color:red ;">NOTE → ONLY ENTER THE SYMBOLS</h4>
        <p style="align-self:center ;background-color:beige">Adani Ports and Special Economic Zone Ltd   →ADANIPORTS<br>
            Asian Paints Ltd  →ASIANPAINT<br>
            Axis Bank Ltd  →AXISBANK<br>
            Bajaj Auto Ltd  →BAJAJ-AUTO<br>
            Bajaj Finance Ltd  →BAJFINANCE<br>
            Bajaj Finserv Ltd  →BAJAJFINSV<br>
            Bharat Petroleum Corporation Ltd  →BPCL<br>
            Bharti Airtel Ltd  →BHARTIARTL<br>
            Bharti Infratel Ltd  →INFRATEL<br>
            Cipla Ltd  →CIPLA<br>
            Coal India Ltd  →COALINDIA<br>
            Dr. Reddy's Laboratories Ltd  →DRREDDY<br>
            Eicher Motors Ltd  →EICHERMOT<br>
            GAIL (India) Ltd  →GAIL<br>
            Grasim Industries Ltd  →GRASIM<br>
            HCL Technologies Ltd  →HCLTECH<br>
            HDFC Bank Ltd  →HDFCBANK<br>
            Hero MotoCorp Ltd  →HEROMOTOCO<br>
            Hindalco Industries Ltd  →HINDALCO<br>
            Hindustan Petroleum Corporation Ltd  →HINDPETRO<br>
            Hindustan Unilever Ltd  →HINDUNILVR<br>
            Housing Development Finance Corporation Ltd  →HDFC<br>
            I T C Ltd  →ITC<br>
            ICICI Bank Ltd  →ICICIBANK<br>
            Indiabulls Housing Finance Ltd  →IBULHSGFIN<br>
            Indian Oil Corporation Ltd  →IOC<br>
            IndusInd Bank Ltd  →INDUSINDBK<br>
            Infosys Ltd  →INFY<br>
            Kotak Mahindra Bank Ltd  →KOTAKBANK<br>
            Larsen & Toubro Ltd  →LT<br>
            Lupin Ltd  →LUPIN<br>
            Mahindra & Mahindra Ltd  →M&M<br>
            Maruti Suzuki India Ltd  →MARUTI<br>
            NTPC Ltd  →NTPC<br>
            Oil & Natural Gas Corporation Ltd  →ONGC<br>
            Power Grid Corporation of India Ltd  →POWERGRID<br>
            Reliance Industries Ltd  →RELIANCE<br>
            State Bank of India,→SBIN<br>
            Sun Pharmaceutical Industries Ltd  →SUNPHARMA<br>
            Tata Consultancy Services Ltd  →TCS<br>
            Tata Motors Ltd  →TATAMOTORS<br>
            Tata Steel Ltd  →TATASTEEL<br>
            Tech Mahindra Ltd  →TECHM<br>
            Titan Company Ltd  →TITAN<br>
            UPL Ltd  →UPL<br>
            UltraTech Cement Ltd  →ULTRACEMCO<br>
            Vedanta Ltd  →VEDL<br>
            Wipro Ltd  →WIPRO<br>
            Yes Bank Ltd  →YESBANK<br>
            Zee Entertainment Enterprises Ltd  →ZEEL
            </p>
</body>
</html>