<html>
<head>
    <title>LIVE</title>
</head>
<body>
    <form action = "/buy" method="post">
    <h1 align="center">LIVE UPDATES ARE</h1><br><br>
    <h3 align="center">THE LIVE PRICE OF {{name_st}} SHARE IS→₹{{msg}}</h3>
    <tr><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <td><input type="submit" value="BUY"></td>
        </tr></form>
</body>
</html>