<html>
<head>
<title>Login Page</title>
<style>
	#grad1 {
	  height: 1000px;
	  background-color: red; /* For browsers that do not support gradients */
	  background-image: linear-gradient(to bottom right, red, yellow);
	}
	footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(126, 239, 207);
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
	</style>
</head>

<body style="background-color: rgb(120, 208, 240);">
	<form action = "/index" method="post">
<table width="20%" bgcolor="skyblue" align="center">

<tr>
<td colspan=2><center><font size=4><b>Stock Exchange Management System</b></font></center></td>
</tr>

<tr>
<td>Username:</td>
<td><input type="text" size=25 name="userid"></td>
</tr>

<tr>
<td>Password:</td>
<td><input type="Password" size=25 name="pwd"></td>
</tr>
&emsp;&emsp;&emsp;&emsp;
<tr>
<td><input type="submit"  value="Login"></td>
</tr>

</table>
</form><h2 style="text-align:center ;">STOCK EXCHANGE MANAGEMENT SYSTEM</h2><br>
<img src="/static/login_logo.jpg" width="500" height="250" ><br><br><br>

</body>
<footer>
  <p>Students of KL University<br>&copy; Copyright 2022 <br>for help contact :
  <a href="mailto:hege@example.com">help_student@KLU.com</a></p>
</footer>
</html>